/* .circle-image {
    display: inline-block;
    overflow: hidden;
    width: 33%;
    height: 0;
} 
.circle-image img {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 20% 60% 40% 30%;
  object-fit : cover ;
} */